@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Jost:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  --font-island: "Island Moments", cursive;
  --font-jost: "Jost", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.container {
  @apply mx-auto max-w-[1048px] px-4;
}
